USE [master]
GO
/****** Object:  Database [Digital]    Script Date: 3/7/2020 11:37:00 PM ******/


CREATE TABLE [dbo].[digital](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](50) NULL,
	[description] [text] NULL,
	[image] [nvarchar](50) NULL,
	[author] [nvarchar](50) NULL,
	[timePost] [date] NULL,
	[shortDes] [text] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[digital] ON 

SET IDENTITY_INSERT [dbo].[digital] OFF
USE [master]
GO
